body{
	background-color: #61122f;
	color: #fff;
	font-family: 'Oxygen', sans-serif;
	font-size: 24px;
}

#header-nav{
	border-radius: 0;
	border:0;
}

#name-restaurant{
font-size: 24px;
}

#nav-list{
background-color: #f6b319;
margin-bottom: 0px;
margin-top: 0px;
}

h1.header-name{
	padding: 5px;
	margin: 10px;
}

div.main-heading{
	font-family: 'Oxygen', sans-serif;	
	margin-bottom: 10px;
}

.para-heading{
background-color: grey;
margin-bottom: 20px;
color: black;
}

.para-heading:hover{
box-shadow: 0 1px 5px 1px #cccccc;
}

.para-content{
text-align: justify;
padding-right: 20px; padding-bottom: 20px; padding-left: 20px;
color: black;
}

.chicken-heading{
margin-top: 10px;
}

.chicken-heading .menu-heading{
	font-family: "Courier New", Courier, monospace;
	font-size: 1.2em;
	text-align: center;
}

div .footer-div{
	margin-bottom: 15px;
}



